@inherits System.Web.Mvc.WebViewPage<System.Collections.Generic.IEnumerable<Celes.Mvc4.Models.FileManagerPathSegment>>
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Celes.Mvc4.Helpers
@using Celes.Mvc4
@{
    Layout = null;
}
<div class='@(Model.Any() ? "addrItem" : "addrItemEnd")' path="" pathtype="images" title="">
	<img src="img/folder_open_image.png" width="16" height="16" alt="@Resources.RootDirectory" />
</div>
@foreach(var part in Model)
{
	<div class='@(part.IsLast ? "addrItemEnd" : "addrItem")' path="@part.Path" pathtype="images" title="">
		<div>@part.Name</div>
	</div>	
}